<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FB Matseðill</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>
        <h1>FB Skólinn</h1>
        <nav>
            <a href="/">Matseðill</a>
            <a href="/gullfoss">Gullfoss</a>
        </nav>
    </header>

    <main>
        <h1>Matseðill 20.-24. apríl</h1>

        <table>
            <tr>
                <th>Dagur</th>
                <th>Máltíð</th>
            </tr>
            <tr>
                <td>Mánudagur</td>
                <td>Þorskur í 'black garilc', hrísgrjón og salat</td>
            </tr>
            <tr>
                <td>Þriðjudagur</td>
                <td>Kjúklingabitar með bulgur, salati og sítrussósu</td>
            </tr>
            <tr>
                <td>Miðvikudagur</td>
                <td>Fish'n chips, kartöflur, sósa og salat</td>
            </tr>
            <tr>
                <td>Fimmtudagur</td>
                <td>SUMARDAGURINN FYRSTI!!</td>
            </tr>
            <tr>
                <td>Föstudagur</td>
                <td>Lambaskankar með kartöflum og brúnni sósu</td>
            </tr>
        </table>

        <a href="/gullfoss">Upplýsingar um Gullfoss →</a>
    </main>

    <footer>
        <p>FB Skólinn 2026</p>
    </footer>

</body>
</html>